@use "./variables" as var;
@use "./mixins" as mix;

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	height: 100%;

	@media screen and (max-width: var.$breakpoint-s) {
		padding: 10px 20px;
	}

	& a {
		text-decoration: none;
		
		& h2 {
			color: var.$color-black;
			@media screen and (max-width: var.$breakpoint-m) {
				font-size: 20px;
			}
		}
	}


	& .mode {
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;

		& svg {
			width: 20px;

			@media screen and (max-width: var.$breakpoint-m) {
				width: 15px;
			}
		}

		& p {
			font-weight: 600;
			
			@include mix.disable-text-select();

			@media screen and (max-width: var.$breakpoint-m) {
				font-size: 12px;
			}
		}
	}
}

.dark {
	& .navbar {
		& a {
			& h2 {
				color: var.$color-white;
			}
		}
	}
}