.navbar {
	display: flex;
	justify-content: space-between;
	padding: 20px 50px;

	& .mode {
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;

		& p {
			font-weight: 600;
		}
	}
}